{% extends 'main.html'%};
{% block content %}
    
    <h1>
        Home Template
    </h1>

    <div>
        <a href="{% url 'core:create-room'%}">Create Room</a>


        <div>
            {% for topic in topics %}
                <a href="{% url 'core:home' %}?topic={{topic.id}}">{{topic.name}}</a>
            {% endfor %}
        </div>
        

        <div>

            {% for room in rooms %}
                <div>
                    <a href="{% url 'core:edit-room' room.id %}">Edit Room</a>
                    <a href="{% url 'core:delete-room' room.id %}">Delete Room</a>
                    <span>@{{room.host.username}}</span>                    
                    <h5>{{room.id}} -- <a href="{% url 'core:room' room.id %}"></a>{{room.name}}</a></h5>
                    <small>{{room.topic.name}}</small>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}